@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

main.dark-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3em 0 0;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: #1a8bea;
  animation: darkenUp 0.5s linear forwards;
  animation-delay: 3.5s;
  font-family: 'Poppins', sans-serif;
}

.dark-side h2 {
  position: relative;
  font-size: 3rem;
  color: #1a8bea;
  animation: blueUp 0.5s linear forwards;
  animation-delay: 3.5s;
  -webkit-text-stroke: 3px #323d52;
  text-transform: uppercase;
  padding: 0 4px;
}

.dark-side h2::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  margin: 0 4px;
  color: #01fe87;
  -webkit-text-stroke: 0 #383d52;
  border-right: 2px solid;
  overflow: hidden;
  white-space: nowrap;
  
  animation: writeInOut 12s linear infinite;
  animation-delay: 3.5s;
}

@keyframes blueUp {
  to {
    color: #252839;
  }
}

@keyframes darkenUp {
  to {
    background: #252839;
  }
}

@keyframes writeInOut {
  0%, 10%, 100% {
    width: 0%;
  }
  70%, 90% {  
    width: 100%;
  }
}