.toasty {
  position: fixed;
  right: -265px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 265px;
  animation: suddenly-appears 1s ease forwards;
  animation-delay: 30s;
}

.toasty img {
  width: 150px;
  margin-top: 2em;
  margin-left: auto;
}

.speech-bubble {
  margin: 0 auto;
  width: 200px;
  border-radius: 0.25em;
  transform: rotate(-4deg) rotateY(15deg);
  background: #629bdd;
  font: 2em/2 Century Gothic, Verdana, sans-serif;
  text-align: center;
}
.speech-bubble:before,
.speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}
.speech-bubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
  background: #f4fbfe;
}
.speech-bubble:before {
  border: solid 0 transparent;
  border-right: solid 2.5em #f4fbfe;
  border-bottom: solid 0.25em #629bdd;
  bottom: 0.25em;
  left: 1.25em;
  width: 0;
  height: 0.5em;
  transform: rotate(45deg) skewX(75deg);
}

@keyframes suddenly-appears {
  0% {
    right: -265px;
  }
  10% {
    right: 0;
  }
  90% {
    right: 0;
  }
  100% {
    right: -265px;
  }
}
